[Unit]
Description=Monero Full Node
After=network.target

[Service]
User=root
Group=root
#WorkingDirectory=~
#StateDirectory=monero
#LogsDirectory=monero

Type=simple
ExecStart=/opt/monero/bin/monerod --config-file /opt/monero/bin/monerod.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=graphical.target
