[Unit]
Description=MoneroD Service
After=network.target

[Service]
ExecStart=python3 /opt/kfishmonger/projects/tools/sub/monerod/execstart.py

[Install]
WantedBy=graphical.target