#!/bin/bash


conky.config = {
	-------------------------------------
	--  Generic Settings
	-------------------------------------
	background=true,
	update_interval=3,
	double_buffer=true,
	no_buffers=true,
	imlib_cache_size=10,

	draw_shades=false,
	draw_outline=false,
	draw_borders=false,

	-------------------------------------
	--  Window Specifications
	-------------------------------------
	gap_x=600,
	gap_y=30,

	alignment="top_right",

	minimum_height=900,
	minimum_width=600,

	own_window=true,
	own_window_type="dock",
	own_window_transparent=true,
	own_window_hints="undecorated,below,sticky,skip_taskbar,skip_pager",

	own_window_argb_visual=true,
	own_window_argb_value=0,

	-------------------------------------
	--  Text Settings
	-------------------------------------
	use_xft=true,
	xftalpha=1,
	font="Droid Sans:size=10",
	text_buffer_size=256,
	override_utf8_locale=true,

	-------------------------------------
	--  Color Scheme
	-------------------------------------
	default_color='FFFFFF',
	color0='EAEAEA', -- default
	color1='f4cb67', -- date
	color2='ede439', -- day of the week
	color3='fbf0a3', -- select
}

conky.text = [[
	${voffset 10}${color1}\
	${font GE Inspira:pixelsize=120}${time %d}${font}\
	${voffset -84}${color0}${font GE Inspira:pixelsize=58}${time %B}${font}\
	${voffset 25}${font GE Inspira:pixelsize=24}${offset -130}${color2}${if_match ${time %w} == 0}${time %A}${else}${if_match ${time %w} == 6}${time %A}${else}${color0}${time %A}${endif}${endif}${color0} ${time %Y}${font}\
	${voffset 25}${offset -395}\
	$hr\
	${goto 35}${voffset 15}${color3}Sistema:${color0}${execi 9990 lsb_release -a | grep 'Description' | cut -d":" -f2}${if_match $machine == x86_64} 64 bit${else} 32 bit${endif} OS $sysname ${kernel}\
	${goto 1}${voffset 18}${execi 9991 cat /proc/cpuinfo | grep "model name" -m1 | cut -d":" -f2 | cut -d" " -f4} - $freq MHz${offset 20}${color3}CPU ${color0}${cpu cpu0}%${offset 20}${color3}Tempo: ${color0}$uptime\
	${goto 25}${voffset 15}${loadgraph 40,300 FFFFFF FF0000 -t}
	${goto 25}${voffset 5}${color3}HDD (SSD)${color0}\
	${goto 25}${voffset 15}  System ${fs_used /}/${fs_size /} ${fs_bar 8,80 /} [${fs_used_perc /}%]\
	${goto 25}${voffset 15}  Temp ${fs_used /run}/${fs_size /run} ${fs_bar 8,91 /run} [${fs_used_perc /run}%]\
	${goto 25}${voffset 15}  Home ${fs_used /home}/${fs_size /home} ${fs_bar 8,95 /home} [${fs_used_perc /home}%]\
	${goto 25}${voffset 20}${color3}Memórias${color0}\
	${goto 25}${voffset 15}  RAM:$color $mem/$memmax ${membar 8, 80} [$memperc%]\
	${goto 25}${voffset 15}${if_match $swapperc > 0}Swap:$color $swap/$swapmax ${swapbar 8, 80} [$swapperc%]${else}  A troca não é usada ($swapfree livre)${endif}\
	${goto 25}${voffset 15}  Processos totais: $processes\
	${goto 25}${voffset 20}${color3}Máx. Carga da CPU:${color0}\
	${goto 25}${voffset 15}${color FFFFFF}${top cpu 1}%  ${top name 1}\
	${goto 25}${voffset 15}${color0}${top cpu 2}%  ${top name 2}\
	${goto 25}${voffset 15}${top cpu 3}%  ${top name 3}\
	${goto 25}${voffset 20}${color3}Máx. Carga de RAM:${color0}\
	${goto 25}${voffset 15}${color FFFFFF}${top_mem mem 1}%  ${top_mem name 1}\
	${goto 25}${voffset 15}${color0}${top_mem mem 2}%  ${top_mem name 2}\
	${goto 25}${voffset 15}${top_mem mem 3}%  ${top_mem name 3}\
	${goto 25}${voffset 20}${color3}Project:${color0}\
	${goto 25}${voffset 15}  Project: ${exec cat /tmp/fishmonger.json |jq -r .name|xargs }\

	${goto 400}${voffset -360}${color3}${font pixelsize=18}VPN${font}${color0} ${downspeedgraph tun0}\
	${goto 400}${voffset 40  }${color3}${font pixelsize=18}ISP${font}${color0}   ${downspeedgraph {INTERFACE}}\
	${goto 400}${voffset 50  }${color3}VPN:${color0}\
	${goto 400}${voffset 15  }  IP: ${exec cat /tmp/fishmonger.json |jq -r .vpn.ip|xargs }\
	${goto 400}${voffset 15  }  Country: ${exec cat /tmp/fishmonger.json |jq -r .vpn.country|xargs }\
	${goto 400}${voffset 20  }${color3}TOR Project:${color0}\
	${goto 400}${voffset 15  }  IP: ${exec cat /tmp/fishmonger.json |jq -r .tor.ip|xargs }\
	${goto 400}${voffset 15  }  Country: ${exec cat /tmp/fishmonger.json |jq -r .tor.country|xargs }\

	${goto 400}${voffset 20  }${color3}Ports(${tcp_portmon 1 65535 count}):${color0}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip  0}  ${tcp_portmon 1 65535 rport  0}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip  1}  ${tcp_portmon 1 65535 rport  1}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip  2}  ${tcp_portmon 1 65535 rport  2}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip  3}  ${tcp_portmon 1 65535 rport  3}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip  4}  ${tcp_portmon 1 65535 rport  4}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip  5}  ${tcp_portmon 1 65535 rport  5}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip  6}  ${tcp_portmon 1 65535 rport  6}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip  7}  ${tcp_portmon 1 65535 rport  7}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip  8}  ${tcp_portmon 1 65535 rport  8}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip  9}  ${tcp_portmon 1 65535 rport  9}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip 10}  ${tcp_portmon 1 65535 rport 10}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip 11}  ${tcp_portmon 1 65535 rport 11}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip 12}  ${tcp_portmon 1 65535 rport 12}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip 13}  ${tcp_portmon 1 65535 rport 13}\
	${goto 400}${voffset 15  }  ${tcp_portmon 1 65535 rip 14}  ${tcp_portmon 1 65535 rport 14}

]]

