[Unit]
Description=Network KFM Service
After=network.target

[Service]
ExecStart=python3 /opt/kfishmonger/projects/network/execstart.py

[Install]
WantedBy=graphical.target