[Unit]
Description=Fake Service
After=network.target

[Service]
ExecStart=python3 /opt/kfishmonger/projects/fake/execstart.py

[Install]
WantedBy=graphical.target