[Unit]
Description=VPN Service

[Service]
Environment=LOGNAME={LOGNAME}
ExecStart=python3 /opt/kfishmonger/projects/vpn/start.py

[Install]
WantedBy=graphical.target